header {
    display: flex;
    flex-direction: column;

    width: 70%;
    padding: 0 4%;
    margin: 0 8%;

    
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 5vh;
    width: 100%;
}

.searchbar-section, .account-section {
    width: 20%;
}

.region-section {
    width: 60%;
}

.searchbar-section {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* gap: 0.5rem; */
}


.button-container {
    height: 100%;
    width: 100%;

    display: grid;
    place-content: center;
}

.button-container button svg {
    height: 16px;
    width: 16px;
    padding: 5px;
}

.search-toggle {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-toggle input {
    height: 60%;
    padding: 2px;
}

.search-toggle button {
    height: 70%;
    
    padding: 5px;
    font-size: 13pt;

    text-align: center;
}


.region-section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;


}

.region-section ul {
    display: flex;
    flex-direction: row;
}

