/* ONLY CONTAIN TITLE HEADER ID */


.title-header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#hamburger {
    display: none;
}

.personal-account {
    display: none;
}

@media all and (max-width: 1024px) {
    #hamburger {
        display: flex;
    }

    .time-date {
        display: none;
    }

    .personal-account {
        display: flex;
    }

    .trade-info {
        display: none;
    }
}