/* ONLY CONTAIN NAVIGATION BAR  */

.navigation-bar {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 3px;
}

.navigation-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 100%;

    border-bottom: 1px solid black;
}

.navigation-bar ul li {
    padding: 15px;

    font-size: 10pt;

    display: flex;
    align-items: center;
    justify-content: center;
}


.live-bar {
    border-top: 1px solid black;
    width: 100%;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-height: 5vh;
}

.live-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.live-bar ul li {
    padding: 10px;
}

.live-bar ul h5 {
    margin: 0;
    padding: 10px;
}
