.content-right-container {
    width: 30%;

    display: flex;
}

.content-right-wrapper {    
    width: 100%;
}

.top-stories {
    display: flex;
    flex-direction: column;

    width: inherit;
}

.media-section {
    width: 100%;
}

.media-section a {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.img-title-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
}
