.body {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;    
}

.content-left-container {
    width: 70%;

    display: flex;
    
    padding-right: 0;

    border-bottom: 1px solid black;
}

.content-item-left {
    width: 40%;

    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    width: 100%;
}

.content a h1 {
    font-size: 10pt;
}

.content-item-right {
    width: 60%;
    padding: 10px;
}

.content-item-right img {
    height: 41vh;
    width: 100%;
    
}


.content-right-container {
    width: 30%;

    display: flex;

    margin-left: 10px;

    border-left: 1px solid black;
}

.content a input {
    border-radius: 25px;
    
}