@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

button {
    padding: 0;
}
